# INTRODUCTION TO PYTHON
THIS IS THE BEGINNING OF OUR PYTHON CLASS
in this class we will explore the use of python for data analytics and data science

In [1]:
print ("Hello World")
#python will ignore all of the text

Hello World

In [2]:
a = 10 #A IS A VARIABLE

In [3]:
b = 20

In [4]:
a+b

30

In [5]:
a

10

In [6]:
#variables data_types #checking the data types
age = 25
type(age)

int

In [7]:
height = 5.11

In [8]:
type(height)

float

In [9]:
name = "Alice"

In [10]:
type(name)

str

In [11]:
is_student = True

In [12]:
type(is_student)

bool

In [13]:
#doing basic maths

In [14]:
2+4 #addition

6

In [15]:
7 / 2  #division

3.5

In [16]:
8 / 4

2.0

In [17]:
2 * 2 #multiplication

4

In [18]:
round (999 / 22 , 0)

45.0

In [19]:
#modulus sign % it returns the remainder of a division operator
5 % 2

1

In [20]:
#looking for odd numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

for number in numbers:
    if number % 2 != 0:
        print(number)

1
3
5
7
9

In [22]:
for number in numbers:
    if number % 2 != 0:
        print(number)

1
3
5
7
9

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
print(numbers)

In [ ]:
2**3 #2 raise to power 3 2*2 =4 4*2=8

In [ ]:
pow(2,3)

In [ ]:
#floor divivion -returns the whole number without a decimal 
9 // 2

In [ ]:
a + a + a

In [ ]:
a += a #a-a-a

In [ ]:
#comparison operator
olatunji = "dark"
dimeji = "TALL"

In [ ]:
print (olatunji)

In [ ]:
olatunji == "TALL"

In [ ]:
olatunji != "TALL"

In [ ]:
a = 40
b= 30

In [ ]:
a > b

In [ ]:
a < b

### control flow
conditional statement (if,elif,else) these statement help us to make python behave intelligently.

In [ ]:
age=17

if age >= 18:
    print("You're an adult")
# using the else if statement
elif (age > 15) & (age < 18):
    print("You're an adolescent")
else:
    print("You're not an adult")

In [ ]:
# built in function
#print
print("We are learning python together")

#len(text) to ptint the numbers of the text or words
students = "chaviva"
len(students)

#round- rounds to a particular significant value
round(999/ 2)
#type -check the data type of an object
type(students)

#input- get input from user
name = input("What is your name: ")
print("Your name is: ", name)

In [ ]:
for i in range(1,5):
      print(i)

In [ ]:
for students in students:
    print(students)

In [ ]:
for character in students:
    print(character, end=" ")

In [ ]:
#declaring a variable to sum my total 
total = 0
for i in range(100):
    # checking if the numbers are even
    if i % 2 == 0:
        
        total = total + i
print(total)

In [ ]:
#this is a list containing fruit
fruits = ["apple","banana","cherry"]

In [ ]:
fruits

In [ ]:
fruits[2] #apple is 0 because python starts counting from 0

In [ ]:
#slicing , we can slice our list
print(fruits[0:2]) #gives the first two item
print(fruits[0:3]) #gives the three item on the list
print(fruits[0:]) #starts from the index 0 and print till the end
print(fruits[:]) #prints everything on the list
print [0:6:3] #prints 
print(fruits[-1]) #prints the last item on the list

In [ ]:
for fruit in fruits:
    print(fruit)

In [ ]:
fruits.append("Mango") #this command adds item to the end of the list

In [ ]:
fruits

In [ ]:
fruits.append("pineapple")

In [ ]:
#to remove an object from a list, you simply type fruits.remove("the object"),to remove the whole list,type fruits.clear("the object")

In [ ]:
fruits.count("apple")

In [ ]:
fruits.insert(0, "pawpaw") #this code adds an object to the  firstlist pushing the other ones

##STRINGS OPERATIONS
Strings are important concepts in python.

In [ ]:
fruits

In [ ]:
fruit = "Mango"

In [ ]:
fruit == "banana"

In [23]:
student = "Dimeji Danels"

In [ ]:
student

### THIS METHOD COUNTS THE OCCURENCE OF VALUES IN THE STRING

In [ ]:
student.count("D")

In [ ]:
#this method replaces any value in the sting with another value
student_= student.replace(" ","_")

In [ ]:
student

In [ ]:
student_list = student_.split("_")

In [ ]:
student

In [ ]:
student_list[0] = "lizzy"

In [ ]:
student_list

In [ ]:
student.lower()

In [25]:
student.upper()

'DIMEJI DANELS'

# functions 
fuctions allows us to reuse block of codes, it allows for clearer and concised coding practice
function in python are usually started with the 'def' keyword

In [30]:
def greet():
    print("Hello Good Morning!!!,Welcome to Gomycode, how was your night?")

In [36]:
greet("chaviva")

Hello Good Morning!!!,Welcome to Gomycode, how was your night? chaviva

In [37]:
def greet(name):
    print("Hello Good Morning!!!,Welcome to Gomycode, how was your night?",name)

In [ ]:
##THIS IS TO INSERT NAME(PARAMETER) INSIDE THE FUNCTION

In [39]:
greet("chaviva")

Hello Good Morning!!!,Welcome to Gomycode, how was your night? chaviva

In [1]:
x = (2>5) == (3==6)
if x :
    print('x is True')
else:
    prin('x is not True')

x is True

In [2]:
x=19
if x < 10:
    print ("Good morning")
elif x<12: 
    print ("Soon time for lunch")
elif x<18: 
    print ("Good day")
elif x<22: 
    print ("Good evening")
else: 
    print ("Good night")

Good evening

In [3]:
9 // 2

4

In [1]:
print((2>5) == (6>2))

False

In [3]:
def greet():
    print("hello good morning!!!,welcome to gomycode")

In [4]:
greet()

hello good morning!!!,welcome to gomycode

In [5]:
def greet(name):
    return("Hello welcome to gomycode", name)

In [6]:
greet("olatunde")

('Hello welcome to gomycode', 'olatunde')

In [9]:
greetings = greet("Temitope")

In [10]:
greetings

('Hello welcome to gomycode', 'Temitope')

In [12]:
def greet(name):
    return f"hello welcome to gomycode {name}" #this returns the output of the

In [13]:
greet("chief")

'hello welcome to gomycode chief'

In [14]:
print(greetings)

('Hello welcome to gomycode', 'Temitope')

Write a program that takes in a birthday (dd,
mm, yy) and returns:
– The age
– Number of days until next birthday

In [15]:
#global and local variables
x = 10 #this is a global variable
def number():
    y = 5 #this value is local to this function
    x = 2 #this value is local to this function
    return y + x

In [16]:
number()

7

In [17]:
word = "python is fun"

In [18]:
word.split()

['python', 'is', 'fun']

In [7]:
text = "how are you feeling today"

In [8]:
text

'how are you feeling today'

In [9]:
text.upper()

'HOW ARE YOU FEELING TODAY'

In [22]:
for i in text:
    print(i)

h
o
w

a
r
e

y
o
u

f
e
e
l
i
n
g

t
o
d
a
y

In [10]:
len(text)

25

In [11]:
text_list = text.split()

In [12]:
text_2 = ""
for i in text_list:
    if len(i) > 3:
        print(i)

feeling
today

In [13]:
text_2 = []
for i in text_list:
    if len(i) > 3:
        text_2.append(i)

In [14]:
text_2

['feeling', 'today']

In [ ]:
#list slicing with steps
text_list[::-1] [#start:stop:step] this method reads the message from the last to the first

In [ ]:
text_list[3::2] #this method start

In [15]:
#write a python program to sum all the items in a list
numbers = [2, 4, 6, 7, 8, 9 ,10]

In [16]:
#adding all numbers in a list
total = 0 #the o calculate 0+2=2, 2+4=6 6+6=12 12+7=19 and so on  the 0 can be a different number
for i in numbers:
    total = total + i
    print(total)

2
6
12
19
27
36
46

# tuples
this python data structures is not changeable(mutable) once decleared,they are denoted by round brackets
()brackets are used to call a method or function
[] are used for creating list and slicing , indexing
. the dot is used to access the method of an object
def are used to declear a function
: colon is used to start a block of code and used in slicing
= is used for assigning variables
{} used for creating a set and dictionary
__==used to check equality(maybe the right is equal to the left
for is used for iteration(going over a sequence)
--# is used for comments
""" used for multiline comments

In [17]:
points =(3,5)

In [18]:
point_list = list(points)

In [19]:
point_list

[3, 5]

In [20]:
points

(3, 5)

In [21]:
points.count(5)

1

In [23]:
points.index(3) #the position of the number in the list according to how it is arranged(index)

0

# dictionaries
dictionaries are python data structure that store values using key pair values,stores values that have relationship

In [1]:
person = {"name": "Alice", "age":30, "sex": "Female" }

In [2]:
person

{'name': 'Alice', 'age': 30, 'sex': 'Female'}

In [3]:
person["name"]

'Alice'

In [4]:
person["sex"]

'Female'

In [5]:
person["sex"] = "i prefer not to say"

In [6]:
person

{'name': 'Alice', 'age': 30, 'sex': 'i prefer not to say'}

In [7]:
import pandas as pd

In [8]:
pd.DataFrame(person,index=range(1))

    name  age                  sex
0  Alice   30  i prefer not to say

In [9]:
person

{'name': 'Alice', 'age': 30, 'sex': 'i prefer not to say'}

In [10]:
person_1 = person.copy()

In [12]:
person_1

{'name': 'Alice', 'age': 30, 'sex': 'i prefer not to say'}

In [14]:
person_1["name"] = "Tunde"

In [9]:
small_pizza = 15
medium_pizza = 20
large_pizza = 25
pepperoni_small_size= 2
pepperoni_medium_large = 3
cheese = 1
import easygui
size = easygui.enterbox("What pizza size do you want? choose 'L' for large, 'M'for medium,'S' for small" ). lower ()
quantity = input('what quantity of pizza do you need?').lower()
if size == 'l':
    print("Total balance is $",large_pizza) # total balance to define the price
elif size == 'm':
    print("Total balance is $",medium_pizza)
elif size =='s':
    print("Total balance is $",small_pizza)
elif size == 'l' & add_pepperoni == 'y':    
     print("your balance is")

what quantity of pizza do you need?5
Total balance is $ 25

In [15]:
person_1

{'name': 'Tunde', 'age': 30, 'sex': 'i prefer not to say'}

In [16]:
#adding key value pair to the dictionary
person_1["hairstyle"] = "cornrow"

In [17]:
person_1

{'name': 'Tunde',
 'age': 30,
 'sex': 'i prefer not to say',
 'hairstyle': 'cornrow'}

In [19]:
#the get method prints out the value of the key passed into
person_1.get("hairstyle")

'cornrow'

In [20]:
#the item method prints the key and the values o the elements in the dictionary
person_1.items()

dict_items([('name', 'Tunde'), ('age', 30), ('sex', 'i prefer not to say'), ('hairstyle', 'cornrow')])

In [21]:
#the key metoods prints out the keys in our dictionary
person_1.keys()

dict_keys(['name', 'age', 'sex', 'hairstyle'])

In [22]:
#the pop method removes the key and value of the key poped
person_1.pop("hairstyle")

'cornrow'

In [25]:
person_1

{'name': 'Tunde', 'age': 30, 'sex': 'i prefer not to say'}

In [24]:
person_1

{'name': 'Tunde', 'age': 30, 'sex': 'i prefer not to say'}

In [19]:
pip install easygui

Collecting easygui
  Obtaining dependency information for easygui from https://files.pythonhosted.org/packages/8e/a7/b276ff776533b423710a285c8168b52551cb2ab0855443131fdc7fd8c16f/easygui-0.98.3-py2.py3-none-any.whl.metadata
  Downloading easygui-0.98.3-py2.py3-none-any.whl.metadata (8.4 kB)
Downloading easygui-0.98.3-py2.py3-none-any.whl (92 kB)
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ------------- -------------------------- 30.7/92.7 kB 14.1 kB/s eta 0:00:05
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   ----------------- ---------------------- 41.0/92.7 kB 15.0 kB/s eta 0:00:04
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   -------------------------- ------------- 61.4/92.7 kB 19.0 kB/s eta 0:00:02
   ----------------------------------- ---- 81.9/92.7 kB 22.3 kB/s eta 0:00:01
   ---------------------------------------  92.2/92.7 kB 25.2 kB/s eta 0:00:01
   ---------------------------------------- 92.7/92.7 kB 25.0 kB/s eta 0:00:00
Installing collected packages: easygui
Successfully installed easygui-0.98.3
Note: you may need to restart the kernel to use updated packages.

In [26]:
#update value of a key to a new value
person_1.update({"name":"chaviva"})

In [27]:
person_1

{'name': 'chaviva', 'age': 30, 'sex': 'i prefer not to say'}

In [29]:
#this returns the values in the dictionary
person_1.values()

dict_values(['chaviva', 30, 'i prefer not to say'])

In [33]:
#dictionary iteration
for i,y in person.items():
    print(i,y)

name Alice
age 30
sex i prefer not to say

In [35]:
for i in person.keys():
    print(i)

name
age
sex

# SETS
Sets are unordered collections of unique elements.
they are commonly used to perform mathematical set operations like union,intersection, and difference.set uses curly braces. it brings out the key values

In [14]:
my_set = {1,1,1,2,2,2,3,3,3,4,4,5}

In [15]:
my_set

{1, 2, 3, 4, 5}

In [16]:
#making  set out of a list
set(["olatunde", "Brorokini", "olatunde"])

{'Brorokini', 'olatunde'}

In [17]:
my_set.add(8)

In [8]:
my_set

{1, 2, 3, 4, 5, 8}

In [9]:
#this method will clear all the element in the set
my_set.clear()

In [18]:
my_set

{1, 2, 3, 4, 5, 8}

In [19]:
set_copy = my_set.copy()

In [20]:
set_copy

{1, 2, 3, 4, 5, 8}

In [21]:
set_copy.add(10)

In [22]:
set_copy

{1, 2, 3, 4, 5, 8, 10}

In [32]:
#this method will return the common element in both set
set_copy.intersection(my_set)

{1, 2, 3, 4, 5, 8}

In [28]:
my_set.union(set_copy)

{1, 2, 3, 4, 5, 8, 10}

In [23]:
#this method will allow us to get the difference in the set
set_copy.difference(my_set)

{10}

In [30]:
set_copy.update([11,12,13,14])

In [31]:
print(set_copy)
print(my_set)

{1, 2, 3, 4, 5, 8, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 8}

In [24]:
#created a list of student names
students = ["olatunde", "Borokinni", "olatunde", "Dimeji", "oyebode", "chief", "chief", "chaviva", "chaviva",
            "riches", "riches", "emma", "emma", "lizzy", "lizzy", "OG_Praise", "OG_Praise"]

In [26]:
output = set() #decleared an empty set
for name in students:#iterate through the student list
    output.add(name)#added value to the set

In [27]:
output

{'Borokinni',
 'Dimeji',
 'OG_Praise',
 'chaviva',
 'chief',
 'emma',
 'lizzy',
 'olatunde',
 'oyebode',
 'riches'}

# Random module
python's random module is a powerful tool for generating random data.it can be used for various purposes, such as generating random numbers , shuffling sequences, and making decisions based on randomness

In [1]:
import random

In [2]:
abs(9.883)

9.883

In [3]:
import math

In [5]:
math.sqrt(9)

3.0

In [6]:
math.floor(9/4)

2

In [7]:
import random

In [8]:
#the random method generate floating point
#number between 0 and 1
random.random()

0.27846439414486435

In [9]:
random_num = random.random()

In [10]:
random_num

0.8903475808866067

# Random choices
we use the choice () function to make random selections from a sequence such as a list

In [11]:
fruits = ["apple","banana","cherry","date","elderberry"]

In [14]:
random_fruit = random.choice(fruits)
random_fruit

'banana'

In [57]:
#it brings out two random fruits in the list #k is the number of value to be used .k is constant 
random.choices(fruits, k=2)

['elderberry', 'date']

# shuffling random method
The shuffle() method can be used to randomly reorder the elements of a sequence in place

In [18]:
cards = ["ace","2","3","4","5","6","7","8","9","10","jack","queen"]
random.shuffle(cards)

In [19]:
cards

['9', 'queen', 'ace', '2', 'jack', '5', '10', '3', '7', '4', '6', '8']

In [20]:
#setting the random seed
#you can set a seed for the random number
#generator using seed() to ensure reproducibility
random.seed(42)
random_num = random.random()

In [21]:
random_num

0.6394267984578837

# random real numbers
to generate random floating-point numbers within a specified range

In [32]:

random.uniform(1,10)

3.4752638653220735

In [30]:
#random.seed(42) # this makes the output fixed it makes the result unchangeable
random.seed(42)
random.uniform(1,10)

6.754841186120954

In [41]:
#random integers
#the randint()generate random integers within a specified range(inclusive)
random.randint(1, 6)

5

In [42]:
random_int = random.randint(1,6)

In [43]:
random_int

1

In [45]:
#randomization in games
#the random module is commonly used in games
#development to introduce randomness in gameplay
coin_toss = random.choice([0, 1])
if coin_toss == 0:
    print("Heads")
else:
    print("Tails")

Heads

In [55]:
#stimulate Events
#we can use the random numbers to stimulate events with different probability
if random.random() < 0.7:
    print("Event occurred")
else:
    print("Event did not occur")

Event did not occur

In [70]:
random.randrange(1,10,2) #randomly picks a number from one to ten

5

In [82]:
#getting a 3 random values for a ste step #starting from 0 gives you even number,starting from 1 gives an odd number.
for i in range(3):
    print(random.randrange(0,10,2))

4
6
4

In [79]:
#this method randrange gives a random number between the start 
random.randrange(1,100)

85

In [83]:
for i in range(3):
    print(random.randrange(0,10,2))

2
4
4

In [84]:
#generate 3 random integers between 100 and 999 which is divisible by 5
for i in range(3):
    print(random.randrange(100,999,5))

365
955
440

In [87]:
random.sample([0,1,2,3,4,5,6,7,8,9,10], k=2)

[8, 3]

# while loops
A while loop is a fundamental programming construct in python that allows you to repeatedly execute a block of code as long as a specified condition is true. it's used when you want to perform a task repeatedly until a certain condition is met or until a specific number of iteration have been completed...note that you must terminate it yourself unless it will keep running

In [88]:
#every while block of code start with the while statememt
count = 0
while count <= 5:
    print(count)
    count = count + 1

0
1
2
3
4
5

# user input loop
repeatedly asking the user for input until they enter 'quit'

In [90]:
while True:
    user_input = input("Enter 'Quit' to exit: ")
    if user_input == "quit":
        print("Thank you for coming")
        break
    else:
        print("you entered:", user_input)

Enter 'Quit' to exit: i love you jehovah
you entered: i love you jehovah
Enter 'Quit' to exit: please help me
you entered: please help me
Enter 'Quit' to exit: exit
you entered: exit
Enter 'Quit' to exit: quit
Thank you for coming

# using a counter
execute a loop a specific specific number of times using a counter

In [92]:
counter = 0
while counter <= 3:
    print("This is a loop iteration", counter + 1)
    counter = counter + 1 #-1 will count the numbers from descending order

This is a loop iteration 1
This is a loop iteration 2
This is a loop iteration 3
This is a loop iteration 4

# using while loop for summation
calculate the sum of number from 1 to 10 using a while loop

In [93]:
total = 0
num = 1

In [94]:
while num <= 10:
    total = total + num
    num = num + 1
    print(total)   #0+1=1 1+2=3 3+3=6 6+4=10 10+5=15 15+6=21 21+7=28 and so on

1
3
6
10
15
21
28
36
45
55

In [99]:
#another counter example:getting the unicode character at the counter position
counter = 65
while counter < 91:
    print(str(counter) +"-"+ chr(counter))
    counter = counter + 1
print("Alldone")

65-A
66-B
67-C
68-D
69-E
70-F
71-G
72-H
73-I
74-J
75-K
76-L
77-M
78-N
79-O
80-P
81-Q
82-R
83-S
84-T
85-U
86-V
87-W
88-X
89-Y
90-Z
Alldone

In [100]:
def greetings()
   print("hello there")
greetings()

SyntaxError: expected ':' (4247377167.py, line 1)

In [101]:
def test_5(a):
    if a < 5 :
        print(a,"is lower than 5")
    elif a == 5:
        print(a,"is equal to 5")
    else:
        print(a,'is higher than 5')
test_5(25)

25 is higher than 5

In [102]:
#Nested for loop
for outer in ["first","second","third"]:
    print(outer)
    #inner loop
    for inner in range(3):
        print(inner + 1)
print("Both loops are done")

first
1
2
3
second
1
2
3
third
1
2
3
Both loops are done

# LAMBDA FUNCTIONS
in python,a lambda function is a small,anonymous function that can have any number of arguments , but can only have one expression. lambda function are known as anonymous functions because they do not require a name like a regular function using the def keyword.
lambda arguments: expression (this is how the lambda expression is being used)

In [103]:
add = lambda x , y : x + y

In [104]:
add(3, 5)

8

In [105]:
def add(x, y):
    return x + y

In [106]:
add(3, 6)

9

In [107]:
subtract = lambda x , y : x - y

In [109]:
subtract(9 , 4)

5

In [110]:
#this is a standard python function
#to use it multiple times
def add(x,y):
    return x + y

In [111]:
add(3, 6)

9

# using lambda with built in functions

In [113]:
points =[(1,9), (4,1), (5,3), (2,7)]

In [114]:
sorted(points)

[(1, 9), (2, 7), (4, 1), (5, 3)]

In [116]:
#sorting a list(by default it's sorted ascendingly)
list1 = [20,30,40,50,10,22,65,70,80,12]

In [117]:
sorted(list1, reverse= True) #reverse = true makes it sort descendingly

[80, 70, 65, 50, 40, 30, 22, 20, 12, 10]

In [118]:
sorted(list1)

[10, 12, 20, 22, 30, 40, 50, 65, 70, 80]

In [119]:
sorted(points, key=lambda x: x[1])

[(4, 1), (5, 3), (2, 7), (1, 9)]

In [121]:
#this is a standard python function
def concat(x,y,z):
    return " ".join([x,y,z])

In [122]:
concat("Tunero", "Chief", "Emmanuel")

'Tunero Chief Emmanuel'

# LAMBDA IN HIGH ORDER FUNCTIONS

In [123]:
#USING LAMBDA WITH FILTER TO GET EVEN NUMBERS FROM A list

In [124]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [126]:
#getting all the even numbers from the number of list using lambda
list(filter(lambda x: x % 2 == 0,numbers)) #unwrapping a function #(% modulus sign means it divides the number without a decimal)

[2, 4, 6, 8, 10]

In [127]:
#same output as the first but different method 
meji = []
for i in numbers:
    if i % 2 ==0:
        meji.append(i)

In [128]:
meji

[2, 4, 6, 8, 10]

In [129]:
#using lambda expressions
names = ["Adams", "Ma", "Dimeola","Zandusky"]
#names.sort(key = lambda anything : anything.lower())
#print names

In [131]:
names.sort(key= lambda x: x.lower())

In [132]:
names

['Adams', 'Dimeola', 'Ma', 'Zandusky']

In [133]:
#using lambda expression (the sort function sort unicode wise)
names = ["Bode","Richie","chaviva"]  
names.sort()
names

['Bode', 'Richie', 'chaviva']

In [134]:
#more lambda examples
#show number in currency format
currency = lambda n : f"${n:,.2f}" #format to two decimal places
#show number in percent format.
#percent = lambda n : f"{n:.2%}"

#test currency function
print(currency(99))
print(currency(123456789.09876543))

#test percent function
#print(percnt(0.065))
#print(percent(.5))

$99.00
$123,456,789.10

In [135]:
name ="chaviva otabor"

In [137]:
print(f"This is my name {name}") #THIS IS HOW FORMATTING WORKS

This is my name chaviva otabor

In [140]:
#USING THE KEY PARAMETER WITH THE LOWER METHOD RETURNS IT ALPHABETICALLY
names = ["A","B","C","a", "b","c","d","e"]
names.sort(key=lambda x: x.lower())
print(names)

['A', 'a', 'B', 'b', 'C', 'c', 'd', 'e']

# MAP FUNCTIONS
THE map functions in python is a built in function that allows you to apply a given function to each item of an iterable(such as list,tuple,string) and returns an iterable map object which can be converted to other iterable typles like lists or tuples.it is a powerful tool for performing the same operations on multiple elements of a collection.

In [141]:
def square(x):
    return x ** 2

In [142]:
square(4)

16

In [143]:
numbers=[1,2,3,4,5]
list(map(square,numbers))

[1, 4, 9, 16, 25]

# using map() with lambda functions

In [144]:
#using lamba function with a map function
list(map(lambda x: x*2, numbers))

[2, 4, 6, 8, 10]

# APPLYING MAP() TO ITERABLE

In [145]:
#USING MAP WITH TWO LISTS
lists1 = [1,2,3]
lists2 = [10,20,30]

In [147]:
list(map(lambda x,y: x + y, lists1, lists2))

[11, 22, 33]

# MAPPING CHARACTER TO THEIR ASCII VALUES

In [148]:
#USING MAP TO GET ASCII VALUES OF CHARACTERS IN A STRING
text = "Hello"

In [149]:
map(ord,text)

In [151]:
list(map(ord, text))

[72, 101, 108, 108, 111]

# OBJECT ORIENTED PROGRAMMING IN PYTHON
OBJECT ORIENTED PROGRAMMING IS A PROGRAMMING PARADIGM THAT USES OBJECTS TO STRUCTURE AND ORANIZE CODE. EVERYTHING IN OOP IS TREATED AS AN OBJECT,WHICH IS AN INSTANCE OF A CLASS. A CLASS DEFINES THE BLUEPRINT FOR CREATING OBJECTS INCLUDING THEIR PROPERTIES (ATTRIBUTES) AND BEHAVIOURS(METHOD OR FUNCTIONS)

In [181]:
class item:
    pass

In [187]:
item1  = item() #creating an object o the item class
item1.name ="phone"  #assingning a name to the object
item1.price = 100 #assigning price to the object
item1.quantity = 5 #assigning quantity to the object

In [185]:
#giving a class method
class item:
    def calculate_total_price(self, x, y): #self signiies the item information
        return x * y

In [188]:
print (item1.name)
print (item1.price)
print (item1.quantity)
item1.calculate_total_price(item1.price, item1.quantity)

phone
100
5

500

In [191]:
item2 = item()
item2.name = "laptop"
item2.price = 1000
item2.quantity = 3

In [192]:
item2.calculate_total_price(item2.price, item2.quantity)

3000

In [161]:
print(item1.name)

phone

In [ ]:
class Human:
    def drink(self):
        return "Human drink something"

In [153]:
class Human:
    pass

In [154]:
black = Human()
black.name = "dimeji"
black.ear = 2
black.eyes = 2
black.fingers = 10
black.color = "black"

In [155]:
print(black.name)

dimeji

In [189]:
import numpy as np

In [190]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
arr[1::2, :2]

array([[ 4,  5],
       [10, 11]])

In [207]:
class Item:
    def __init__(self): #this is dunder method to declare an instance/object of a class
        print("I am created")
    def calculate_total_price(self, x,y):
        return x * y

In [208]:
item1 = Item()

I am created

In [209]:
item2 = Item()

I am created

In [210]:
class Item:
    def __init__(self,name,price,quantity):
        self.name = name
        self.price = price
        self.quantity = quantity
    def calculate_total_price(self, x,y):
        return x * y

In [211]:
item1 = Item("phone", 1000,5)
item2 = Item("laptop", 3000,3)

In [212]:
print(item2.name)
print(item2.price)
print(item2.quantity)

laptop
3000
3

In [226]:
#Giving parameter a default value
class Item:
    def __init__(self,name: str, price:float, quantity=0):
        self.name = name
        self.price = price
        self.quantity = quantity
    def calculate_total_price(self):
            return self.price * self.quantity

In [258]:
item1 = Item('phone', 1000, 5)
item2 = Item ('laptop', 3000, 3)

In [250]:
item1.calculate_total_price()

5000

In [256]:
#Giving class an attribute
class Item:
    pay_rate = 0.8
    def __init__(self,name: str, price:float, quantity=0):
        assert price >=0, f'price{price} is not greater than or equal to zero'
        assert price >=0, f'quantity{quantity} is not greater than or equal to zero'
        self.name = name
        self.price = price
        self.quantity = quantity
    def calculate_total_price(self):
        return self.price * self.quantity
    def apply_discount(self):
            self.price = self.price * Item.pay_rate

In [259]:
item1 = Item('phone', 1000, 5)
item2 = Item ('laptop', 3000, 3)

In [260]:
item1.apply_discount()

In [261]:
item1.price

800.0

In [262]:
#Giving class an attribute
class Item:
    pay_rate = 0.8
    all = []
    def __init__(self,name: str, price:float, quantity=0):
        assert price >=0, f'price{price} is not greater than or equal to zero'
        assert price >=0, f'quantity{quantity} is not greater than or equal to zero'
        self.name = name
        self.price = price
        self.quantity = quantity
        Item.all.append(self)
    def calculate_total_price(self):
        return self.price * self.quantity
    def apply_discount(self):
            self.price = self.price * Item.pay_rate

In [263]:
item1 = Item('phone', 1000, 5)
item2 = Item ('laptop', 3000, 3)
item3 = Item ('cable', 10, 5)
item4 = Item ('mouse', 50, 7)
item5 = Item ('keyboard', 75, 5)

In [266]:
print (Item)

<class '__main__.Item'>

# Create a Car class with two instance attributes: .color,which stores
 the name of the car’s color as a string, and .mileage, which stores
 the number of miles on the car as an integer. Then instantiate
 two Car objects—a blue car with 20,000 miles, and a red car with
 30,000miles, and print out their colors and mileage.

In [2]:
class Car:
    def __init__(self,color:str, mileage:int):
        self.color = color
        self.mileage = mileage
        
car1 =Car("Blue", 20000)
car2 =Car("Red", 30000)

print(car1.color,car1.mileage)
print(car2.color,car2.mileage)

Blue 20000
Red 30000

# Modify the Car class with an instance method called .drive() that
 takes a number as an argument and adds that number to the
 .mileage attribute. Test that your solution works by instantiating
 a car with 0 miles, then call .drive(100) and print the .mileage
 attribute to check that it is set to 100

In [3]:
class Car:
    def __init__(self,color:str, mileage:int):
        self.color = color
        self.mileage = mileage
        
    def drive(self, x):
        return x + self.mileage
        
car1 =Car("Blue", 20000)
car2 =Car("Red", 30000)

car3 =Car("Yellow", 0)

# print(car1.color,car1.mileage)
# print(car2.color,car2.mileage)

In [7]:
car3.drive(100)

100

In [8]:
car3.mileage

0

In [9]:
class Car: #the class name
    def __init__(self,color:str, mileage:int):  #instntiate the instance/object
        self.color = color
        self.mileage = mileage
        
    def drive(self, x): 
        self.mileage = x + self.mileage #his will override the original mileage value
        
car1 =Car("Blue", 20000)
car2 =Car("Red", 30000)

car3 =Car("Yellow", 0)

# print(car1.color,car1.mileage)
# print(car2.color,car2.mileage

In [10]:
car3 =Car("yellow", 0)

In [11]:
car3.drive(100)

In [12]:
car3.mileage

100

In [23]:
class Car: #the class name
    fuel_consumption = 0
    def __init__(self,color:str, mileage:int ,fuel:float):  #instntiate the instance/object
        self.color = color
        self.mileage = mileage
        self.fuel =fuel
        
    def drive(self, x): 
        self.mileage = x + self.mileage #his will override the original mileage value

    def fuel_con(self):        
        Car.fuel_consumption =self.mileage / self.fuel

In [24]:
Car4 = Car("Black",24000,48)

In [26]:
Car4.fuel_con()

In [27]:
Car4.fuel_consumption

500.0

# creating a class and an object

In [38]:
class Dog:
    def __init__(self,name,breed):
        self.name = name
        self.breed = breed
        
    def bark(self):
        return "Woof!"

In [39]:
#create an object(instance)of the class
my_dog = Dog("Buddy", "Golden Retriever")

In [41]:
my_dog.bark()

'Woof!'

In [42]:
my_dog.breed

'Golden Retriever'

# INHERITANCE
INHERITANCE CONCEPT IN OOP IS A PROCESS WHERE THE CHILD CLASS INHERIT ATTRIBUTES AND METHODS FROM THE PARENT CLASS. THE CHILD CLASS IS ALSO CALLED THE SUBCLASS or derived class and the existing class is called the superclass or base class.

In [29]:
#define a superclass(base class)
class Animal:
    def __init__(self, name):
        self.name = name
    def speak(self):
        return "This Animal can make a sound" #tis method will be overridden

In [30]:
#define a subclass
class Dog(Animal):
    pass

In [31]:
class Cat(Animal):
    pass

In [32]:
my_dog = Dog("Buddy")

In [33]:
my_dog.speak()

'This Animal can make a sound'

In [34]:
my_dog.name

'Buddy'

# NUMPY (NUMERICAL PYTHON)
NUMPY is a powerful python library for numerical and scientific computing.numpy stands for numerical python and provides support for large, multi dimensonal arrays and matrices along with a wide range of mathematical functions to operate on these arrays.to access the functionalities of numpy,we must import the library

In [4]:
#to create a numpy array,you can use the numpy.array
import numpy as np
#creating a one dimensional array
arr1=np.array([1,2,3,4,5])

In [5]:
arr1

array([1, 2, 3, 4, 5])

In [6]:
type(arr1)

numpy.ndarray

In [7]:
list1 = [10,20,30,40,50]

### The numpy array method changes the object passed into it to an n-dimensional array. meaning numpy operations can be applied on the array, n is the number operations can be applied on the array,n is the number of dimensions the array has

In [8]:
#creating a one dimensional array
arr2 = np.array(list1)

In [9]:
#array allows broadcasting.
arr1 *2

array([ 2,  4,  6,  8, 10])

In [10]:
list1 *2

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [11]:

# to perform the same operation  on list
list1
for i in list1:
    print(i)

10
20
30
40
50

In [12]:
[x for x in list1] #simplier method for printing out a list

[10, 20, 30, 40, 50]

In [13]:
name = "praise"
[i for i in name]

['p', 'r', 'a', 'i', 's', 'e']

In [14]:
alpha ="abcdefghijklmnopqrstuvwxyz"
name = "praise"
[alpha.index(i) for i in name if i in alpha] #operation before iteration, but logical and conditionals after iteration

[15, 17, 0, 8, 18, 4]

In [15]:
#creating a two dimensional array
two_dim = np.array ([[1,2,3],[4,5,6]])

In [16]:
two_dim

array([[1, 2, 3],
       [4, 5, 6]])

In [17]:
#creating an array of zeros
zero = np.zeros(5)

In [18]:
zero

array([0., 0., 0., 0., 0.])

In [19]:
np.zeros_like(10)

array(0)

In [20]:
#creting an array of ones
ones = np.ones(3)

In [21]:
ones

array([1., 1., 1.])

In [22]:
np.ones_like([1,2,3,4,5])

array([1, 1, 1, 1, 1])

In [23]:
#creating an identity matrix
identity_matrix = np.eye(3)

In [24]:
identity_marix

NameError: name 'identity_marix' is not defined

# ARRAY ATTRIBUTES
YOU CAN ACCESS VARIOUS ATTRIBUTES OF A NUMPY ARRAY

In [25]:
#SHAPE OF THE ARRAY THIS TELLS YOU THR NUMBER OF THE ROWS AND COLUMN
arr2.shape

(5,)

In [26]:
arr2

array([10, 20, 30, 40, 50])

In [27]:
arr2.ndim  #ndim attributes check the dimension of the array

1

In [28]:
two_dim.shape

(2, 3)

In [29]:
two_dim

array([[1, 2, 3],
       [4, 5, 6]])

In [30]:
#check the data tyoe o the array
arr2.dtype

dtype('int32')

In [31]:
arr2.size #it counts all the element in the array(the total number)

5

In [32]:
two_dim.size

6

# ARRAY INDEXING AND SLICING
NUMPY ARRAYS SUPPORT INDEXING AND SLICING SIMILAR TO PYTHON

In [33]:
arr1

array([1, 2, 3, 4, 5])

In [34]:
arr1[0]

1

In [35]:
element = arr1[4] #access the fifth element at index 4

In [36]:
element

5

In [37]:
#slicing
arr1[1:4]  #start from one and don't put 4

array([2, 3, 4])

In [38]:
#slicing for two dimensional array
two_dim

array([[1, 2, 3],
       [4, 5, 6]])

In [39]:
two_dim[1,1] #second row and second element #remember that numbers in python start from 0

5

In [40]:
two_dim[0:2, 0:2]

array([[1, 2],
       [4, 5]])

In [41]:
a = [1,2,3]

In [42]:
b = a

In [43]:
a = [4,5,6]

In [44]:
b = a

In [45]:
print(b)

[4, 5, 6]

In [46]:
def fun():
    for x in range(22,23,24):
        print(x)
fun()

22

# ARRAY OPERATIONS
YOU CAN PERFORM MATHEMATICAL OPERATIONS ON NUMPY ARRAY

In [48]:
arr1

array([1, 2, 3, 4, 5])

In [49]:
#element wise addition
arr1 + arr1

array([ 2,  4,  6,  8, 10])

In [50]:
#element wise multiplication
arr2 * 2

array([ 20,  40,  60,  80, 100])

In [51]:
#Transposed an array
transposed = two_dim.T

In [52]:
transposed

array([[1, 4],
       [2, 5],
       [3, 6]])

# Mathematical functions
Numpy provides a  wide range of mathematical functions including trigonometric,logarithmic and exponential function

In [53]:
#trigonomertic function
np.sin(arr1)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 , -0.95892427])

In [54]:
sin_result = np.sin(arr1)

In [55]:
sin_result

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 , -0.95892427])

In [56]:
cos_result = np.cos(arr1)

In [57]:
cos_result

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362,  0.28366219])

In [58]:
tan_result = np.tan(arr1)

In [59]:
tan_result

array([ 1.55740772, -2.18503986, -0.14254654,  1.15782128, -3.38051501])

In [60]:
#logarithmic functions
log_result = np.log(arr1)

In [61]:
log_result

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791])

In [62]:
exp_result = np.exp(arr1)

In [63]:
exp_result #exponential

array([  2.71828183,   7.3890561 ,  20.08553692,  54.59815003,
       148.4131591 ])

In [64]:
np.sqrt(arr1) #square root

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798])

In [65]:
np.std(arr1) #standard deviation

1.4142135623730951

In [66]:
np.mean(arr1)

3.0

In [67]:
np.median(arr1)

3.0

In [70]:
np.modf(arr1)

(array([0., 0., 0., 0., 0.]), array([1., 2., 3., 4., 5.]))

# ARRAY MANIPULATION
YOU CAN MANIPULATE ARRAY BY CHANGING THEIR SHAPE,SIZE OR STRUCTURE

In [71]:
arr1

array([1, 2, 3, 4, 5])

In [74]:
arr1.reshape(5,1)

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [79]:
more_array = np.array ([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])

In [80]:
more_array.ndim

2

In [81]:
#concatenating an array
np.concatenate([arr1,arr2]) #joinning two arrays together

array([ 1,  2,  3,  4,  5, 10, 20, 30, 40, 50])

In [82]:
np.concatenate([two_dim,more_array])

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [84]:
bigger_array =  np.concatenate([two_dim,more_array]) #

In [85]:
np.stack([arr1,arr2]) #stack arranges the arrays in steps

array([[ 1,  2,  3,  4,  5],
       [10, 20, 30, 40, 50]])

In [1]:
#data = np.genfromtxt("Loan_prediction_dataset.csv",delimeter = ",", filling_value=0,usecols=8) #working with missing data.(filingvalue)

# python list vs numpy array

In [3]:
import numpy as np
from timeit import Timer

size_of_vec = 1000
X_list = range(size_of_vec)
Y_list = range(size_of_vec)
X = np.arange(size_of_vec)
Y = np.arange(size_of_vec)
list1 = [1,2,3,4]
list2 = [4,5,6,7]

In [4]:
for i in range(size_of_vec):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [5]:
[i for i in range(size_of_vec) if i % 2 !=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

In [6]:
np.arange(size_of_vec)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [7]:
X_list

range(0, 1000)

In [8]:
Y_list

range(0, 1000)

In [10]:
def pure_python_version():
    Z = [X_list[i] + Y_list[i] for i in range(len(X_list))]
    
def numpy_version():
    Z = X + Y
    
timer_obj1 = Timer("pure_python_version()" ,"from __main__ import pure_python_version")
timer_obj2 = Timer("numpy_version", "from __main__ import numpy_version") 

print("pure python version", timer_obj1.timeit(10))
print("numpy version", timer_obj2.timeit(10))

pure python version 0.008914700010791421
numpy version 3.2999960239976645e-06

# CREATE NUMPY ARRAY FROM PYTHON LIST

In [11]:
heights = [165,170,171,172,180,189,178]
print(type(heights))
heights_np = np.array(heights)
print(heights_np)
print(type(heights_np))

<class 'list'>
[165 170 171 172 180 189 178]
<class 'numpy.ndarray'>

In [12]:
weights = np.array([[50,45,56,78],[78,89,59,90],[89,78,69,70],
                   [67,59,89,70],[90,89,80,84],[89,59,90,78]])

print(weights.dtype)
print("weights",weights)
weights_rg =weights.reshape((6,4,1))
weights_rg

int32
weights [[50 45 56 78]
 [78 89 59 90]
 [89 78 69 70]
 [67 59 89 70]
 [90 89 80 84]
 [89 59 90 78]]

array([[[50],
        [45],
        [56],
        [78]],

       [[78],
        [89],
        [59],
        [90]],

       [[89],
        [78],
        [69],
        [70]],

       [[67],
        [59],
        [89],
        [70]],

       [[90],
        [89],
        [80],
        [84]],

       [[89],
        [59],
        [90],
        [78]]])

In [13]:
strings = np.array(["a","b","c","d",34,56])
print(strings)
strings.dtype

['a' 'b' 'c' 'd' '34' '56']

dtype('<U11')

In [15]:
python_List = ["string", 1,2,3.5]
python_List

['string', 1, 2, 3.5]

# 3,ATTRIBUTES OF NDARRY OBJECT

In [16]:
print("dimension", weights.ndim)
print("shape", weights.shape)
print("size", weights.size)
print("dtype", weights.dtype)
print("strides", weights.strides)

dimension 2
shape (6, 4)
size 24
dtype int32
strides (16, 4)

In [17]:
weights.ndim

2

In [18]:
weights = weights.reshape((6,4,1,1))
weights

array([[[[50]],

        [[45]],

        [[56]],

        [[78]]],


       [[[78]],

        [[89]],

        [[59]],

        [[90]]],


       [[[89]],

        [[78]],

        [[69]],

        [[70]]],


       [[[67]],

        [[59]],

        [[89]],

        [[70]]],


       [[[90]],

        [[89]],

        [[80]],

        [[84]]],


       [[[89]],

        [[59]],

        [[90]],

        [[78]]]])

# miscellaneous numpy arrays
1) np.zeros()

In [20]:
x = np.zeros(shape=(2,3), dtype = "int32", order = "C")
print(x)

[[0 0 0]
 [0 0 0]]

# 2, np.arrange()

In [21]:
x = np.arange(start=100, stop=1000, step=100, dtype="int32")
x

array([100, 200, 300, 400, 500, 600, 700, 800, 900])

In [22]:
y= np.arange(150)
print(y)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149]

# 3,np.linspace()

In [24]:
np.linspace(10,30,30, dtype='int')

array([10, 10, 11, 12, 12, 13, 14, 14, 15, 16, 16, 17, 18, 18, 19, 20, 21,
       21, 22, 23, 23, 24, 25, 25, 26, 27, 27, 28, 29, 30])

In [25]:
x_lin=np.linspace(start=10, stop=50, num=30)

In [26]:
x_lin

array([10.        , 11.37931034, 12.75862069, 14.13793103, 15.51724138,
       16.89655172, 18.27586207, 19.65517241, 21.03448276, 22.4137931 ,
       23.79310345, 25.17241379, 26.55172414, 27.93103448, 29.31034483,
       30.68965517, 32.06896552, 33.44827586, 34.82758621, 36.20689655,
       37.5862069 , 38.96551724, 40.34482759, 41.72413793, 43.10344828,
       44.48275862, 45.86206897, 47.24137931, 48.62068966, 50.        ])

# np.full()

In [27]:
np.full((5,6), 4)

array([[4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4]])

HTTPError: HTTP Error 429: Unknown Error

# file handling
python can handle tegular text files and other extensions like csv,tsv,json,and many more.we can read these files directly into our python

In [35]:
cd C:\Users\user\Downloads

C:\Users\user\Downloads

In [36]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3460-9072

 Directory of C:\Users\user\Downloads

04/04/2024  10:34 AM    <DIR>          .
04/04/2024  10:34 AM    <DIR>          ..
01/06/2022  05:38 AM     5,281,021,952 _Getintopc.com_WIN11X64_PRO_EN_NOV_2021.iso
09/05/2023  03:45 PM            83,469 1000_F_356598361_NWAl49mR4UQovEPvToQompJggNl6i0kvusa logo.jpg
09/05/2023  03:32 PM            46,665 240_F_243259090_crbVsAqKF3PC2jk2eKiUwZHBPH8Q6y9Ybeach.jpg
10/09/2023  04:37 PM           196,659 28-days-later.zip
02/06/2024  09:47 AM            10,750 55 DRINKS (1).xlsx
02/06/2024  09:44 AM            10,750 55 DRINKS.xlsx
02/06/2024  09:47 AM            10,620 55 FOOD (1).xlsx
02/06/2024  09:44 AM            10,620 55 FOOD.xlsx
11/17/2023  10:15 AM     1,095,571,496 Anaconda3-2023.09-0-Windows-x86_64.exe
11/21/2023  12:28 PM         5,525,576 AnyDesk (1).exe
11/21/2023  11:52 AM         5,525,576 AnyDesk.exe
10/09/2023  04:32 PM           147,796 bebas-neue.zip
10/09/2023  04:39 PM            94,783 bodoni.zip
10/09/2023  04:40 PM            11,028 broshkill.zip
03/25/2024  04:09 PM             2,620 calculator_2.0 (1).py
03/25/2024  03:50 PM             2,621 calculator_2.0.py
10/09/2023  04:40 PM            67,709 charming.zip
03/29/2024  10:22 PM            82,384 chase check.jpeg
02/27/2024  02:12 PM             5,399 chaviva checkpoint (1).sql
04/04/2024  10:04 AM                22 chaviva.csv
04/04/2024  10:06 AM                23 chaviva.py
04/04/2024  10:31 AM                72 chavy.csv
01/14/2023  10:37 PM         1,427,176 ChromeSetup.exe
04/04/2024  10:34 AM               155 data.csv
02/01/2023  02:14 PM            84,705 doctor_glitch.zip
07/19/2023  09:47 PM             3,285 download.png
10/09/2023  04:39 PM           125,593 exploration-greatness.zip
01/20/2023  03:06 PM        97,467,040 FigmaSetup.exe
04/01/2024  12:50 AM           264,458 fresh check.png
01/30/2024  12:00 PM        60,868,040 Git-2.43.0-64-bit.exe
02/13/2024  09:59 AM           526,795 house_pricing_dataset.csv
01/14/2023  10:56 PM         3,929,239 kmspico.zip
03/27/2024  02:55 PM            38,013 Loan_prediction_dataset.csv
10/09/2023  04:38 PM            48,564 memory-vintage.zip
03/12/2024  03:10 PM         2,207,744 mysql-installer-web-community-8.0.36.0 (1).msi
03/12/2024  03:10 PM         2,207,744 mysql-installer-web-community-8.0.36.0.msi
03/12/2024  03:33 PM        44,032,000 mysql-workbench-community-8.0.36-winx64.msi
11/17/2023  10:30 AM    <DIR>          New folder
04/04/2024  09:59 AM                 0 New Text Document.txt
04/03/2023  01:34 PM         1,744,384 NordVPNSetup (1).exe
04/03/2023  01:33 PM         1,744,384 NordVPNSetup.exe
03/04/2024  10:14 AM           586,730 OGpraise1111 (1).html
03/04/2024  10:14 AM           586,730 OGpraise1111 (2).html
03/04/2024  10:14 AM           586,730 OGpraise1111 (3).html
03/04/2024  10:14 AM           586,730 OGpraise1111 (4).html
03/04/2024  10:14 AM           586,730 OGpraise1111 (5).html
03/04/2024  10:14 AM           586,730 OGpraise1111.html
02/27/2024  04:55 PM        47,521,921 org.coursera.android_2.7.8.apk
07/05/2023  04:11 PM         6,328,910 Passw0rd_10101_To_Open_Archive.rar
07/05/2023  04:02 PM        31,405,502 Passw0rd_1122_To_Open_Archive.rar
02/20/2024  12:37 PM        18,054,144 Pyhon_Programming_Introduction.ppt
02/29/2024  11:57 AM        42,877,092 Python_All_in_One_For_Dummies_6 (1).pdf
02/29/2024  11:57 AM        42,877,092 Python_All_in_One_For_Dummies_6.pdf
12/15/2023  08:36 AM        26,589,696 python-3.12.1-amd64.exe
02/29/2024  11:57 AM         6,774,691 python-basics-a-practical-introduction-to-python-3-1775093328-9781775093329_compress.pdf
02/27/2024  09:19 AM        42,062,846 Recording 2024-02-27 092337.mp4
02/29/2024  12:44 PM        11,096,319 Recording 2024-02-27 092337.rar
01/07/2022  01:32 PM         1,380,408 rufus-3-17.exe
02/19/2024  12:37 PM         1,113,007 SampleSuperstore.csv
01/10/2024  06:01 PM            43,327 Simple Flowers Black and White Stock Vector - Illustration of abstract, background_ 3618955.jpg
02/06/2024  09:47 AM         7,485,854 SQL_Workshop by Slidesgo (1).pptx
02/06/2024  09:44 AM         7,485,854 SQL_Workshop by Slidesgo.pptx
02/05/2024  11:25 AM         4,290,992 SQL2022-SSEI-Expr.exe
02/05/2024  11:43 AM       678,289,744 SSMS-Setup-ENU.exe
09/11/2023  02:23 PM    <DIR>          ts1506793254000
09/08/2023  04:58 PM     3,891,428,080 ts1506793254000.zip
09/08/2023  04:38 PM       965,694,777 ts1691191261000.zip
02/21/2024  02:41 PM       287,895,375 Unconfirmed 726088.crdownload
03/31/2024  11:31 PM           269,835 Untitled.png
11/13/2023  11:59 PM        94,619,344 VSCodeUserSetup-x64-1.84.2.exe
07/19/2023  09:48 PM            58,114 web-icon-line-on-white-background-image-for-web-presentation-logo-icon-symbol-free-vector.jpg
07/19/2023  09:43 PM            13,638 whatsapp.webp
02/29/2024  12:46 PM         3,593,960 winrar-x32-700.exe
02/29/2024  12:49 PM         3,950,296 winrar-x64-700.exe
10/09/2023  04:35 PM            81,567 youngish.zip
03/10/2024  09:51 PM           137,032 Zoom_cm_fo42mnktZ9vvrZo4_mFqSZfi-9zhNrIffe5n2Wp8EwaPxoAosXMfqR@dHu1dVOXDbcfSg0e_k94e413ba98e9d190_.exe
              74 File(s) 12,832,087,706 bytes
               4 Dir(s)  328,220,753,920 bytes free

# using the python open statement
TO OPEN A CSV FILE

In [37]:
open("data.csv").read()  #the (data) is the name of the file

'name,age,sex,status\ntemitope,56,male,single\nrichies,34,female,married\nbode,,45,male,married with kids\nemmanuel,40,male,single\nchaviva,23,female,single'

In [39]:
with open("data.csv", mode="r")as file:
    data = file.readlines()
    print(data)

['name,age,sex,status\n', 'temitope,56,male,single\n', 'richies,34,female,married\n', 'bode,,45,male,married with kids\n', 'emmanuel,40,male,single\n', 'chaviva,23,female,single']

In [45]:
data = open("data.csv")

In [42]:
data.readlines()

['name,age,sex,status\n',
 'temitope,56,male,single\n',
 'richies,34,female,married\n',
 'bode,,45,male,married with kids\n',
 'emmanuel,40,male,single\n',
 'chaviva,23,female,single']

In [46]:
data.readline()

'name,age,sex,status\n'

In [47]:
data.readline()

'temitope,56,male,single\n'

In [48]:
data.close()

# TO OPEN A PYTHON FILE.

In [49]:
with open("chaviva.py","r")as file:  
    print(file.read())

print("Hello World!!!")

# READING DATA FROM SQL
PANDAS CAN READ SQL FILE DIRECTLY

In [1]:
import sqlite3

In [2]:
#connecting to the database
conn = sqlite3.connect("database.db")

In [4]:
cursor=conn.cursor()

In [5]:
cursor.execute("""CREATE TABLE Employees(EmployeeID INT PRIMARY KEY,
                            FirstName VARCHAR(100),
                            LastName VARCHAR(100),
                            Department VARCHAR(200),
                            Salary DECIMAL(10,2)
                            );
                            
         """)

In [6]:
#cursor.execute("""CREATE TABLE Employees(EmployeeID INT PRIMARY KEY,
#                            FirstName VARCHAR(100),
#                             LastName VARCHAR(100),#rows are records or tuples
#                             Department VARCHAR(200),#olumns are feature,attribute,fields
#                             Salary DECIMAL(10,2));
#                             """)

In [7]:
Values = [(1, 'John','Doe','HR', 55000.00),
         (2,'Jane','Smith','Marketing',60000.00),
         (3,'Bob','Johnson','IT',65000.00)]

In [8]:
cursor.executemany("INSERT INTO Employees VALUES (?,?,?,?,?)",Values)#the number of columns determine the/number of question marks

In [9]:
query = "SELECT * FROM Employees"

In [34]:
cursor.execute(query)

In [32]:
cursor.fetchall()

[(1, 'John', 'Doe', 'HR', 55000),
 (2, 'Jane', 'Smith', 'Marketing', 60000),
 (3, 'Bob', 'Johnson', 'IT', 65000)]

In [33]:
import pandas as pd

In [26]:
pd.read_sql_query(query, con=conn)#conn is a varieable,con is a must(connection)

   EmployeeID FirstName LastName Department  Salary
0           1      John      Doe         HR   55000
1           2      Jane    Smith  Marketing   60000
2           3       Bob  Johnson         IT   65000

In [35]:
rows = cursor.fetchmany(2)
for row in rows:
    print(row)

(1, 'John', 'Doe', 'HR', 55000)
(2, 'Jane', 'Smith', 'Marketing', 60000)

In [36]:
rows

[(1, 'John', 'Doe', 'HR', 55000), (2, 'Jane', 'Smith', 'Marketing', 60000)]

In [ ]:
### DATA EXPLORATION AND MANIPULATION
Pandas strongest advantage is its vast data manipulation libaries which makes it easy to perform complex data analysis

In [37]:
import pandas as pd

In [42]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3460-9072

 Directory of C:\Users\user\Desktop\Gomycode

04/16/2024  09:47 AM    <DIR>          .
04/16/2024  09:47 AM    <DIR>          ..
02/21/2024  10:19 AM    <DIR>          .ipynb_checkpoints
02/21/2024  10:16 AM    <DIR>          DATA SCIENCE BOOTCAMP
04/15/2024  10:19 AM            12,288 database.db
04/15/2024  10:54 AM             8,720 database.db-journal
01/31/2024  10:48 AM                29 first_file.txt
04/16/2024  09:47 AM           226,967 Untitled.ipynb
               4 File(s)        248,004 bytes
               4 Dir(s)  339,962,679,296 bytes free

In [48]:
df = pd.read_csv("Loan_prediction_dataset.csv")

In [49]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

df.dtypes

In [50]:
#get data types of columns
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [51]:
#the head method checks the first fie lines by default,
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [52]:
#the last five lines in the dataset
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [53]:
df["Loan_ID"]

0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object

In [55]:
df["Gender"].unique()

array(['Male', 'Female', nan], dtype=object)

In [56]:
##to check the dataframe randomly
df.sample(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
417,LP002342,Male,Yes,2,Graduate,Yes,1600,20000.0,239.0,360.0,1.0,Urban,N
518,LP002683,Male,No,0,Graduate,No,4683,1915.0,185.0,360.0,1.0,Semiurban,N
288,LP001931,Female,No,0,Graduate,No,4124,0.0,115.0,360.0,1.0,Semiurban,Y
508,LP002626,Male,Yes,0,Graduate,Yes,2479,3013.0,188.0,360.0,1.0,Urban,Y
217,LP001726,Male,Yes,0,Graduate,No,3727,1775.0,131.0,360.0,1.0,Semiurban,Y